<!DOCTYPE html>
html(lang="en")
head
  block title
  meta(charset="UTF-8")
  meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
  meta(content="yes" name="apple-mobile-web-app-capable")
  meta(content="telephone=no" name="format-detection")
  link(rel="shortcut icon", type="image/x-icon", href="")
  block styles
  // build:css
  link(rel="stylesheet", href="assets/css/main.css")
body
  .wrapper
    block header
    block content
    block footer
  // build:js
  script(src="assets/js/main.js")
  block script